<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>

</head>
<body>
<div id="page" layout:fragment="content">

    <script>
        init.push(function () {
            $('#jq-datatables-example').dataTable();
            $('#jq-datatables-example_wrapper .table-caption').text('Transaksi per Product');
            $('#jq-datatables-example_wrapper .dataTables_filter input').attr('placeholder', 'Search...');

            var options2 = {
                orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto',
                format: 'yyyy-mm-dd'
            };
            $('#bs-datepicker-range').datepicker(options2);
        });
    </script>
     / Javascript

    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">Data Transaksi</span>
        </div>
        <div class="panel-body">

            <form th:action="@{/dashboard}" method="get" id="signin-form_id">
                <div class="row">
                    <p style="margin-left: 15px">Filter Tanggal : <span th:text="${start_date}"></span> - <span th:text="${end_date}"></span></p>
                    <div class="col-md-6">
                        <div class="input-daterange input-group" id="bs-datepicker-range">
                            <input type="text" class="input-sm form-control" name="start_date" placeholder="Start date">
                            <span class="input-group-addon">to</span>
                            <input type="text" class="input-sm form-control" name="end_date" placeholder="End date">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="submit" value="Cari" class="btn btn-primary">
                    </div>
                </div>
            </form>

            <br />

            <div class="row">
                <div class="col-sm-3">
                    <div class="stat-panel">
                        <!-- Danger background, vertically centered text -->
                        <div class="stat-cell bg-success valign-middle">
                            <!-- Stat panel bg icon -->
                            <i class="fa bg-icon"></i>
                            <!-- Extra large text -->
                            <span class="text-xlg"><span class="text-lg text-slim"></span><strong th:text="${data.total_transaksi}"></strong></span><br>
                            <!-- Big text -->
                            <span class="text-bg">Total Transaksi</span><br>
                        </div> <!-- /.stat-cell -->
                    </div> <!-- /.stat-panel -->
                </div>
                <div class="col-sm-3">
                    <div class="stat-panel">
                        <!-- Danger background, vertically centered text -->
                        <div class="stat-cell bg-success valign-middle">
                            <!-- Stat panel bg icon -->
                            <i class="fa bg-icon"></i>
                            <!-- Extra large text -->
                            <span class="text-xlg"><span class="text-lg text-slim"></span>Rp. <strong th:text="${data.total_tpv}"></strong></span><br>
                            <!-- Big text -->
                            <span class="text-bg">Total TPV</span><br>
                            <!-- Small text -->
                        </div> <!-- /.stat-cell -->
                    </div> <!-- /.stat-panel -->
                </div>
                <div class="col-sm-3">
                    <div class="stat-panel">
                        <!-- Danger background, vertically centered text -->
                        <div class="stat-cell bg-success valign-middle">
                            <!-- Stat panel bg icon -->
                            <i class="fa bg-icon"></i>
                            <!-- Extra large text -->
                            <span class="text-xlg"><span class="text-lg text-slim"></span>Rp. <strong th:text="${data.total_revenue}"></strong></span><br>
                            <!-- Big text -->
                            <span class="text-bg">Total Revenue</span><br>
                            <!-- Small text -->
                        </div> <!-- /.stat-cell -->
                    </div> <!-- /.stat-panel -->
                </div>
                <div class="col-sm-3">
                    <div class="stat-panel">
                        <!-- Danger background, vertically centered text -->
                        <div class="stat-cell bg-success valign-middle">
                            <!-- Stat panel bg icon -->
                            <i class="fa bg-icon"></i>
                            <!-- Extra large text -->
                            <span class="text-xlg"><span class="text-lg text-slim"></span><strong th:text="${data.total_akuisisi}"></strong></span><br>
                            <!-- Big text -->
                            <span class="text-bg">Total Akuisisi</span><br>
                            <!-- Small text -->
                        </div> <!-- /.stat-cell -->
                    </div> <!-- /.stat-panel -->
                </div>
            </div>

            <div class="table-primary">
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="jq-datatables-example">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>Transaksi</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="prod,iterStat : ${data.transaksi_produk}">
                        <td><span th:text="${iterStat.index + 1}"></span></td>
                        <td><span th:text="${prod.tipe_transaksi}"></span></td>
                        <td><span th:text="${prod.total}"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>