<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>

</head>
<body>
<div id="page" layout:fragment="content">

    <script>
        init.push(function () {
            $('#jq-datatables-example').dataTable();
            $('#jq-datatables-example_wrapper .table-caption').text('Data Product');
            $('#jq-datatables-example_wrapper .dataTables_filter input').attr('placeholder', 'Search...');
        });

        function editFeeSupp(id){
            loadModalForm("/get_feesupplier/" + id, '#modalForm');
        }

        function deleteData(id){
            $('#id-form').val(id);
            deletePopUp("Are You Sure To Delete The Data?", "#delete-class");
        }
    </script>
    <!-- / Javascript -->

    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">Data Product</span>
        </div>
        <div class="panel-body">
            <div class="table-primary">

                <p th:if="${successMessage}" class="alert alert-success"><span th:text="${successMessage}"></span></p>
                <p th:if="${errorMessage}" class="alert alert-danger"><span th:text="${errorMessage}"></span></p>
                <p th:if="${warningMessage}" class="alert alert-warning"><span th:text="${warningMessage}"></span></p>

                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="jq-datatables-example">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>Operator</th>
                        <th>Tipe Transaksi</th>
                        <th>Product Code</th>
                        <th>Deskripsi</th>
                        <th>Harga Beli</th>
                        <th>Harga Jual</th>
                        <th>Flag Active</th>
                        <th class="text-center" width="120px">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="prod,iterStat : ${data.list_feesupplier}">
                        <td><span th:text="${iterStat.index + 1}"></span></td>
                        <td><span th:text="${prod.nama_operator}"></span></td>
                        <td><span th:text="${prod.tipe_transaksi}"></span></td>
                        <td><span th:text="${prod.product_code}"></span></td>
                        <td><span th:text="${prod.nominal}"></span></td>
                        <td><span th:text="${prod.harga_beli}"></span></td>
                        <td><span th:text="${prod.harga_jual}"></span></td>
                        <td>
                            <span th:if="${prod.flag_active == true}">Aktif</span>
                            <span th:if="${prod.flag_active != true}">Tidak Aktif</span>
                        </td>
                        <td class="text-center">
                            <a href="javascript:void(0)" class="btn btn-flat btn-sm btn-warning" title="Edit" th:onclick="'editFeeSupp(\'' + ${prod.id_feesupplier} + '\');'"><span class="btn-label icon fa fa-edit"></span></a>
                            <!--<a href="javascript:void(0)" class="btn btn-flat btn-sm btn-danger btn-delete" title="Delete" onclick="deleteData('')"><span class="btn-label icon fa fa-trash"></span></a>-->
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>