<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <title>True Money | Kuis Bola Mania</title>

    <link rel="shortcut icon" href="/favicon.ico"/>


    <link rel="stylesheet" type="text/css" href="../../3dParty/bootstrap/css/bootstrap.min.css"
          th:href="@{/3dParty/bootstrap/css/bootstrap.min.css}"/>

    <link rel="stylesheet" type="text/css" href="../../css/global.min.css"
          th:href="@{/css/global.min.css}"/>

    <link rel="stylesheet" type="text/css" href="../../css/typo.min.css"
          th:href="@{/css/typo.min.css}"/>

    <link rel="stylesheet" type="text/css" href="../../3dParty/colorbox/colorbox.css"
          th:href="@{/3dParty/colorbox/colorbox.css}"/>

    <link rel="stylesheet" type="text/css" href="../../css/tooltips.css"
          th:href="@{/css/tooltips.css}"/>

    <link rel="stylesheet" type="text/css" href="../../css/slider.css"
          th:href="@{/css/slider.css}"/>

    <link rel="stylesheet" type="text/css" href="../../css/tables.css"
          th:href="@{/css/tables.css}"/>

    <link rel="stylesheet" type="text/css" href="../../css/boxes.css"
          th:href="@{/css/boxes.css}"/>

    <link rel="stylesheet" type="text/css" href="../../css/tabs.css"
          th:href="@{/css/tabs.css}"/>

    <!--Fonts with Icons-->
    <link rel="stylesheet" href="../../3dParty/fontello/css/fontello.css"
          th:href="@{/3dParty/fontello/css/fontello.css}"/>

    <!--Script-->

    <script src="../../3dParty/jquery-1.11.0.min.js"
            th:src="@{/3dParty/jquery-1.11.0.min.js}"></script>
    <script src="../../3dParty/bootstrap/js/bootstrap.min.js"
            th:src="@{/3dParty/bootstrap/js/bootstrap.min.js}"></script>
    <script src="../../3dParty/inview.js"
            th:src="@{/3dParty/inview.js}"></script>
    <script src="../../3dParty/jquery.touchSwipe.min.js"
            th:src="@{/3dParty/jquery.touchSwipe.min.js}"></script>
    <script src="../../3dParty/requestAnimationFramePolyfill.min.js"
            th:src="@{/3dParty/requestAnimationFramePolyfill.min.js}"></script>
    <script src="../../3dParty/jquery.easing.1.3.js"
            th:src="@{/3dParty/jquery.easing.1.3.js}"></script>
    <script src="../../3dParty/jquery.scrollTo.min.js"
            th:src="@{/3dParty/jquery.scrollTo.min.js}"></script>
    <script src="../../3dParty/colorbox/jquery.colorbox-min.js"
            th:src="@{/3dParty/colorbox/jquery.colorbox-min.js}"></script>
    <script src="../../3dParty/jquery.countdown-2.2.0/jquery.countdown.js"
            th:src="@{/3dParty/jquery.countdown-2.2.0/jquery.countdown.js}"></script>
    <script src="../../3dParty/moment.min.js"
            th:src="@{/3dParty/moment.min.js}"></script>
    <script src="../../scripts/pi.global.min.js"
            th:src="@{/scripts/pi.global.min.js}"></script>
    <script src="../../scripts/pi.tooltip.min.js"
            th:src="@{/scripts/pi.tooltip.min.js}"></script>
    <script src="../../scripts/pi.tab.min.js"
            th:src="@{/scripts/pi.tab.min.js}"></script>
    <script src="../../scripts/pi.init.tooltip.min.js"
            th:src="@{/scripts/pi.init.tooltip.min.js}"></script>
    <script src="../../scripts/pi.slider.min.js"
            th:src="@{/scripts/pi.slider.min.js}"></script>
    <script src="../../scripts/pi.init.slider.min.js"
            th:src="@{/scripts/pi.init.slider.min.js}"></script>
    <script src="../../scripts/pi.init.animations.min.js"
            th:src="@{/scripts/pi.init.animations.min.js}"></script>
    <script src="../../scripts/pi.init.tab.min.js"
            th:src="@{/scripts/pi.init.tab.min.js}"></script>

</head>
<body>

<div id="pi-all">

    <!-- Header -->
    <div class="pi-header">

        <div class="pi-header-sticky">
            <!-- Header row -->
            <div class="pi-section-w pi-section-white pi-shadow-bottom pi-row-reducible">
                <div class="pi-section pi-row-lg">

                    <!-- Logo -->
                    <div class="pi-row-block pi-row-block-logo">
                        <a href="home.html" th:href="@{/home}" class="pi-hidden-2xs"><img src="../../img/tm.png" alt=""
                                                                                          th:src="@{/img/tm.png}"></a>
                    </div>
                    <!-- End logo -->

                    <!-- Text -->
                    <div class="pi-row-block pi-row-block-txt pi-italic pi-text-dark">
                        <a href="home.html" th:href="@{/home}">Kuis Bola Mania<br />TrueMoney</a></div>

                    <!-- Menu -->
                    <div class="pi-row-block pi-pull-right">
                        <ul class="pi-simple-menu pi-has-hover-border pi-full-height pi-hidden-sm">
                            <li class="" th:if="${session.sessionDto != null && session.sessionDto.idAccount != null}"><a href="redemption.html" th:href="@{/redemption}"><span>Redemption</span></a></li>
                            <li class=""><a href="faq.html" th:href="@{/faq}"><span>FAQ</span></a></li>
                            <li class="" th:if="${session.sessionDto != null && session.sessionDto.idAccount != null}"><a href="profile.html" th:href="@{/profile}"><span>Profile</span></a></li>
                            <li class="" th:if="${session.sessionDto != null && session.sessionDto.idAccount != null}"><a href="signin.html" th:href="@{/signout}"><span>Sign Out</span></a></li>
                        </ul>
                    </div>
                    <!-- End menu -->

                    <!-- Mobile menu button -->
                    <div class="pi-row-block pi-pull-right pi-hidden-lg-only pi-hidden-md-only">
                        <button class="btn pi-btn pi-mobile-menu-toggler" data-target="#pi-main-mobile-menu">
                            <i class="icon-menu pi-text-center"></i>
                        </button>
                    </div>
                    <!-- End mobile menu button -->

                    <!-- Mobile menu -->
                    <div id="pi-main-mobile-menu" class="pi-section-menu-mobile-w pi-section-dark">
                        <div class="pi-section-menu-mobile">

                            <!-- Search form -->
                            <form class="form-inline pi-search-form-wide ng-pristine ng-valid" role="form">
                                <div class="pi-input-with-icon">
                                    <div class="pi-input-icon"><i class="icon-search-1"></i></div>
                                    <input type="text" class="form-control pi-input-wide" placeholder="Search..">
                                </div>
                            </form>
                            <!-- End search form -->
                            <ul class="pi-menu-mobile pi-items-have-borders pi-menu-mobile-dark">
                                <li class="" th:if="${session.sessionDto != null && session.sessionDto.idAccount != null}"><a href="redemption.html" th:href="@{/redemption}"><span>Redemption</span></a></li>
                                <li class=""><a href="faq.html" th:href="@{/faq}"><span>FAQ</span></a></li>
                                <li class="" th:if="${session.sessionDto != null && session.sessionDto.idAccount != null}"><a href="profile.html" th:href="@{/profile}"><span>Profile</span></a></li>
                                <li class="" th:if="${session.sessionDto != null && session.sessionDto.idAccount != null}"><a href="signin.html" th:href="@{/signout}"><span>Sign Out</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End mobile menu -->

                </div>
            </div>
            <!-- End header row -->
        </div>

    </div>
    <!-- End header -->

    <div id="page">
        <div layout:fragment="content">

        </div>
    </div>

    <!-- Copyright area -->
    <div class="pi-section-w pi-section-dark pi-border-top-light pi-border-bottom-strong-base">
        <div class="pi-section pi-row-lg pi-center-text-2xs pi-clearfix">
            <!-- Text -->
            <span class="pi-row-block pi-row-block-txt pi-hidden-xs">&copy; 2018. &laquo;<a href="http://truemoney.co.id" target="_blank">True Money</a>&raquo;.
			All right reserved.
		</span>
            <!-- End text -->

        </div>
    </div>
    <!-- End copyright area -->
    <!-- End footer -->

</div>
<div class="pi-scroll-top-arrow" data-scroll-to="0"></div>

<script layout:fragment="scriptContent">

</script>
</body>
</html>