<!DOCTYPE html>
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 gt-ie8"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="gt-ie8 gt-ie9 not-ie"> <!--<![endif]-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Single Sign On | BOT Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <!-- Open Sans font from Google CDN -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css">

    <!-- Pixel Admin's stylesheets -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="stylesheets/pixel-admin.min.css" rel="stylesheet" type="text/css">
    <link href="stylesheets/pages.min.css" rel="stylesheet" type="text/css">
    <link href="stylesheets/rtl.min.css" rel="stylesheet" type="text/css">
    <link href="stylesheets/themes.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!--[if lt IE 9]>
    <script src="javascripts/ie.min.js"></script>
    <![endif]-->
</head>
<body class="theme-default page-signin">

<!-- Page background -->
<div id="page-signin-bg">
    <!-- Background overlay -->
    <div class="overlay"></div>
    <!-- Replace this with your bg image -->
    <img src="demo/signin-bg-4.jpg" alt="">
</div>
<!-- / Page background -->

<!-- Container -->
<div class="signin-container">

    <!-- Left side -->
    <div class="signin-info">
        <a href="#" class="logo">
            <!--<img src="demo/logo-big.png" alt="" style="margin-top: -5px;">&nbsp;-->
            <div class="fa fa-leaf"></div>
            BOT Connect
        </a> <!-- / .logo -->
        <div class="slogan">
            BackOffice Tools Portal
        </div> <!-- / .slogan -->
        <!--<ul>-->
            <!--<li><i class="fa fa-sitemap signin-icon"></i> Flexible modular structure</li>-->
            <!--<li><i class="fa fa-file-text-o signin-icon"></i> LESS &amp; SCSS source files</li>-->
            <!--<li><i class="fa fa-outdent signin-icon"></i> RTL direction support</li>-->
            <!--<li><i class="fa fa-heart signin-icon"></i> Crafted with love</li>-->
        <!--</ul> &lt;!&ndash; / Info list &ndash;&gt;-->
    </div>
    <!-- / Left side -->

    <!-- Right side -->
    <div class="signin-form">

        <p th:if="${errorMessage}" class="alert alert-danger"><span th:text="${errorMessage}"></span></p>
        <p th:if="${warningMessage}" class="alert alert-warning"><span th:text="${warningMessage}"></span></p>

        <!-- Form -->
        <form th:action="@{/submitSignin}" method="post" id="signin-form_id">
            <div class="signin-text">
                <span>Sign In to your account</span>
            </div> <!-- / .signin-text -->

            <div class="form-group w-icon">
                <input type="text" id="username" name="username" autofocus="autofocus"
                       class="form-control input-lg" placeholder="Username or email"/>
                <span class="fa fa-user signin-form-icon"></span>
            </div> <!-- / Username -->

            <div class="form-group w-icon">
                <input type="password" name="password" id="password" class="form-control input-lg" placeholder="********"/>
                <span class="fa fa-lock signin-form-icon"></span>
            </div> <!-- / Password -->

            <div class="form-actions">
                <input type="submit" value="SIGN IN" class="signin-btn bg-primary">
            </div> <!-- / .form-actions -->
        </form>
        <!-- / Form -->

        <!-- "Sign In with" block -->
        <div class="signin-with">
            <!-- Facebook -->
            <!--<a href="index.html" class="signin-with-btn" style="background:#4f6faa;background:rgba(79, 111, 170, .8);">Sign In with <span>Facebook</span></a>-->
        </div>
        <!-- / "Sign In with" block -->
    </div>
    <!-- Right side -->
</div>
<!-- / Container -->


<!-- Pixel Admin's javascripts -->
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/pixel-admin.min.js"></script>

</body>
</html>
