<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>

</head>
<body>
<div id="page" layout:fragment="content">
    <!-- / Javascript -->

    <div class="panel">
        <div class="panel-heading">
            <h1><span class="text-light-gray">AMS & CC / </span>View Profile</h1>
        </div>
        <div class="panel-body">

            <form th:action="@{/view_profile}" method="get" id="signin-form_id">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" name="no_hp" class="form-control" placeholder="Masukan Nomor Handphone">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <input type="submit" value="Cari" class="btn btn-primary">
                    </div>
                </div>
            </form>
                    <!--<p style="margin-left: 15px">Filter Tanggal : <span th:text="${start_date}"></span> - <span th:text="${end_date}"></span></p>-->
                    <br>

                    <!-- Row -->
                    <div class="row" th:if="${data.profile !=null}">
                        <div class="col-md-12">
                            <div class="panel panel-default card-view">
                                <div class="panel-heading">
                                    <div class="pull-left">
                                        <h6 class="panel-title txt-dark">Read only</h6>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-wrapper collapse in">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-wrap">
                                                    <div class="form-horizontal" role="form">
                                                        <div class="form-body">
                                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account mr-10"></i>Person's Info</h6>
                                                            <hr class="light-grey-hr"/>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3">Nama :</label>
                                                                        <div class="col-md-9">
                                                                            <p class="form-control-static"> <span th:text="${data.profile.nama_member}"></span> </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--/span-->
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3">ID Pengguna:</label>
                                                                        <div class="col-md-9">
                                                                            <p class="form-control-static"> <span th:text="${data.profile.id_member}"></span> </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--/span-->
                                                            </div>
                                                            <!-- /Row -->
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3">Jenis Kelamin :</label>
                                                                        <div class="col-md-9">
                                                                            <p class="form-control-static"> <span th:text="${data.profile.jenisKelamin}"></span> </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--/span-->
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3">Tanggal Lahir :</label>
                                                                        <div class="col-md-9">
                                                                            <p class="form-control-static"> <span th:text="${data.profile.tanggalLahir}"></span> </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--/span-->
                                                            </div>
                                                            <!-- /Row -->
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3">No.Identitas:</label>
                                                                        <div class="col-md-9">
                                                                            <p class="form-control-static"> <span th:text="${data.profile.nomorKtp}"></span> </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--/span-->
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3">Tanggal Daftar:</label>
                                                                        <div class="col-md-9">
                                                                            <p class="form-control-static"> <span th:text="${data.profile.tanggalDaftar}"></span> </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--/span-->
                                                            </div>
                                                            <!-- /Row -->

                                                            <!-- /Row -->
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3">No. Hp:</label>
                                                                        <div class="col-md-9">
                                                                            <p class="form-control-static"> <span th:text="${data.profile.handphone}"></span> </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--/span-->
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3">Nama IbuKandung:</label>
                                                                        <div class="col-md-9">
                                                                            <p class="form-control-static"> <span th:text="${data.profile.namaIbuKandung}"></span> </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--/span-->
                                                            </div>
                                                            <!-- /Row -->

                                                            <!-- /Row -->
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3">Status:</label>
                                                                        <div class="col-md-9">
                                                                            <p class="form-control-static" data-formatter="Status"> <strong th:text="${data.profile.id_statusverifikasi}"></strong> </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--/span-->
                                                                <!--<div class="col-md-6">-->
                                                                    <!--<div class="form-group">-->
                                                                        <!--<label class="control-label col-md-3">Nama Ibu Kandung:</label>-->
                                                                        <!--<div class="col-md-9">-->
                                                                            <!--<p class="form-control-static"> <span th:text="${data.profile.namaIbuKandung}"></span> </p>-->
                                                                        <!--</div>-->
                                                                    <!--</div>-->
                                                                <!--</div>-->
                                                                <!--/span-->
                                                            </div>
                                                            <!-- /Row -->

                                                            <div class="seprator-block"></div>

                                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account-box mr-10"></i>Address</h6>
                                                            <hr class="light-grey-hr"/>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3">Alamat:</label>
                                                                        <div class="col-md-9">
                                                                            <p class="form-control-static"> <span th:text="${data.profile.alamat}"></span> </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3">Kelurahan:</label>
                                                                        <div class="col-md-9">
                                                                            <p class="form-control-static"> <span th:text="${data.profile.kelurahan}"></span> </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--/span-->
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3">Kecamatan:</label>
                                                                        <div class="col-md-9">
                                                                            <p class="form-control-static"> <span th:text="${data.profile.kecamatan}"></span></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--/span-->
                                                            </div>
                                                            <!-- /Row -->
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3">Kota:</label>
                                                                        <div class="col-md-9">
                                                                            <p class="form-control-static"> <span th:text="${data.profile.kota}"></span> </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--/span-->
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3">Kode POS:</label>
                                                                        <div class="col-md-9">
                                                                            <p class="form-control-static"> <span th:text="${data.profile.kodePos}"></span> </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--/span-->
                                                            </div>
                                                        </div>
                                                        <div class="form-actions mt-10">
                                                            <div class="row" >
                                                                <div class="col-md-12">
                                                                    <div class="row">
                                                                        <div class="col-md-offset-10 col-md-10">
                                                                                <div class="row">
                                                                                    <div class="col-md-1">
                                                                                        <form th:action="@{/update_status}" method="post" >
                                                                                            <input type="hidden" class="input-sm form-control" name="handphone" th:value="${data.profile.handphone}">
                                                                                            <input type="hidden" class="input-sm form-control" name="id_memberaccount" th:value="${data.profile.id_member}">
                                                                                            <input type="hidden" class="input-sm form-control" name="status_verifikasi" value="1" placeholder="Start date">
                                                                                            <button type="submit" class="btn btn-success btn-icon left-icon  mr-10"> <i class="zmdi zmdi-edit" th:if="${data.profile !=null}"></i> <span>Verified</span></button>
                                                                                        </form>
                                                                                    </div>
                                                                                    <div class="col-md-3">
                                                                                        <form th:action="@{/update_status}" method="post" >
                                                                                            <input type="hidden" class="input-sm form-control" name="handphone" th:value="${data.profile.handphone}">
                                                                                            <input type="hidden" class="input-sm form-control" name="id_memberaccount" th:value="${data.profile.id_member}">
                                                                                            <input type="hidden" class="input-sm form-control" name="status_verifikasi" value="2" placeholder="Start date">
                                                                                            <button type="submit" class="btn btn-danger btn-icon left-icon  mr-10"> <i class="zmdi zmdi-edit" th:if="${data.profile !=null}"></i> <span>Unverified</span></button>
                                                                                        </form>
                                                                                    </div>

                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12"> </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Row -->
            <br />

        </div>
    </div>
</div>

</body>
</html>